<div class="chiro-search columns large-6">
    <div class="columns large-9">
        <input type="text"
            value="{{value}}"
            placeholder="condition"
        />
    </div>
    <div class="columns large-3">
        <button on-click="search">Search</button>
    </div>
</div>
