.*.sw[ponxmn]
Debian_CPANTS.txt
Chiro-*
.vimtagsdisplay
tags
Build
MYMETA.*
META.*
Makefile.PL
_build*
blib*
Makefile
pm_to_blib*
.lwpcookies
cover_db
nytprof*
.prove
tmp*
*~
errors.err
public
node_modules
js/index.js
js/ractive.min.js
js/ractive.min.js.map
js/hammer.js
js/hammer.min.js
js/hammer.min.map
js/ractive-touch/
js/ractivef-base.js
css/foundation.css
js/superagent.js
.cordova
apk
platforms/*
plugins/*
MapSource/*
hooks/*
log/*
