<div class="chiro-condition">
    <fieldset>
        <legend>Condition</legend>
        <div>
            <label for="condition">Condition</label>
            <input type="text" name="condition" value="{{data.condition}}" />
        </div>
        <div>
            <label for="condition_desc">Description</label>
            <input type="text" name="condition_desc" value="{{data.condition_desc}}" />
        </div>
        <div>
            <label for="condition_description_source">Description Source</label>
            <input type="text" name="condition_description_source" value="{{data.condition_description_source}}" />
        </div>
    </fieldset>
</div>
